.tile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
}
