.tile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tile:hover {
}
