<div class="home-container flex justify-content-center align-items-center">
    <p-card class="flex">
        <h1>Bienvenue sur Sping-Pong</h1>
        <p>
            Votre source ultime pour tout ce qui concerne le ping-pong, des tournois
            aux événements et au club.
        </p>

        <section class="section contact">
            <h2>Contactez-nous</h2>
            <p>
                Vous avez des questions ou des suggestions? Contactez-nous dès maintenant.
            </p>
            <button
                    pButton
                    label="Contactez-nous"
                    icon="pi pi-envelope"
                    class="p-button-primary"
                    routerLink="/contact"
            ></button>
        </section>
    </p-card>
</div>
