.home-container {
  padding: 20px;
  text-align: center;
  height: 90vh;

  ::ng-deep.p-card-body {
    border-radius: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/20220818_European_Championships_Munich_2022_Felix_Lebrun_850_9644.jpg/2560px-20220818_European_Championships_Munich_2022_Felix_Lebrun_850_9644.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    z-index: -1;
  }

  .header-section {
    margin-bottom: 30px;

    h1 {
      font-size: 2.5em;
      color: #3f51b5;
    }

    p {
      font-size: 1.2em;
      color: #555;
    }
  }

  .section {
    margin-bottom: 40px;

    h2 {
      font-size: 2em;
      color: #3f51b5;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.1em;
      color: #777;
      margin-bottom: 20px;
    }

    button {
      font-size: 1em;
    }
  }
}
