<app-nav-bar></app-nav-bar>

<div class="home-container">
  <header class="header-section">
    <h1>Bienvenue sur Sping-Pong</h1>
    <p>
      Votre source ultime pour tout ce qui concerne le ping-pong, des tournois
      aux événements et au club.
    </p>
  </header>

  <section class="section tournaments">
    <h2>Tournois</h2>
    <p>Découvrez les tournois à venir et inscrivez-vous pour participer.</p>
    <button
      pButton
      label="Voir les tournois"
      icon="pi pi-search"
      class="p-button-primary"
      routerLink="/tournoi"
    ></button>
  </section>

  <section class="section events">
    <h2>Événements</h2>
    <p>
      Ne manquez pas nos événements passionnants. Rejoignez-nous pour des matchs
      amicaux et des ateliers.
    </p>
    <button
      pButton
      label="Voir les événements"
      icon="pi pi-calendar"
      class="p-button-primary"
      routerLink="/evenement"
    ></button>
  </section>

  <section class="section clubs">
    <h2>Clubs</h2>
    <p>
      Rejoignez un club près de chez vous et améliorez vos compétences avec
      d'autres passionnés.
    </p>
    <button
      pButton
      label="Voir les clubs"
      icon="pi pi-users"
      class="p-button-primary"
      routerLink="/club"
    ></button>
  </section>

  <section class="section contact">
    <h2>Contactez-nous</h2>
    <p>
      Vous avez des questions ou des suggestions? Contactez-nous dès maintenant.
    </p>
    <button
      pButton
      label="Contactez-nous"
      icon="pi pi-envelope"
      class="p-button-primary"
      routerLink="/contact"
    ></button>
  </section>
</div>
