<div class="grid-tile">
  <app-tile
    (tileClick)="click()"
    [color]="'#DA000C'"
    [width]="250"
    [height]="300"
    [text]="'Evenement'"
    [textColor]="'white'"
    [textSize]="'2em'"
    [shadowColor]="'#DA000C'"
  ></app-tile>
  <app-tile
    [color]="'#FFFFFF'"
    [width]="250"
    [height]="300"
    [text]="'Club'"
    [textColor]="'black'"
    [textSize]="'2em'"
    [shadowColor]="'#FFFFFF'"
  ></app-tile>

  <app-tile
    [color]="'#4C6381'"
    [width]="250"
    [height]="300"
    [text]="'Tournoi'"
    [textColor]="'white'"
    [textSize]="'2em'"
    [shadowColor]="'#4C6381'"
  ></app-tile>
</div>
