<p-toast></p-toast>
<p-table [value]="tournaments" dataKey="_id" editMode="row">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Date</th>
        <th>Prix</th>
        <th>Nombre de participants max</th>
        <th></th>
      </tr>
    </ng-template>
  <ng-template pTemplate="body" let-tournament let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="tournament">
      <td>{{ tournament._id }}</td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText type="text"
              [(ngModel)]="tournament.name" />
          </ng-template>
          <ng-template pTemplate="output">
            {{tournament.name}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-calendar
              [(ngModel)]="tournament.date" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ tournament.startDate | date:'dd/MM/yyyy' }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText type="text"
              [(ngModel)]="tournament.prize" />
          </ng-template>
          <ng-template pTemplate="output">
            {{tournament.prize}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText type="text"
              [(ngModel)]="tournament.maxParticipants" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ tournament.maxParticipants }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <div class="flex align-items-center justify-content-center gap-2">
          <button
            *ngIf="!editing"
            pButton
            pRipple
            type="button"
            pInitEditableRow
            icon="pi pi-pencil"
            (click)="onRowEditInit(tournament)"
            class="p-button-rounded p-button-text">
          </button>
          <button
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pSaveEditableRow
            icon="pi pi-check"
            (click)="onRowEditSave(tournament)"
            class="p-button-rounded p-button-text p-button-success mr-2">
          </button>
          <button
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pCancelEditableRow
            icon="pi pi-times"
            (click)="onRowEditCancel(tournament, ri)"
            class="p-button-rounded p-button-text p-button-danger">
          </button>
          <button
            pButton
            pRipple
            type="button"
            pCancelEditableRow
            icon="pi pi-trash"
            (click)="onRowDelete(tournament._id)"
            class="p-button-rounded p-button-text p-button-danger">
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
